.App{
  display: block;
  text-align: center;
  margin: auto;
}

body{
  display: flex;
}

canvas{
  align-items: center;
  text-align: center;
}

.set{
  position: absolute;
}

.set_div{
  display: flex;
}

.set_div img{
  width: 180px;
}

button:hover{
  cursor: pointer;
}
button{
  display: block;
  z-index: 1;
}