#root{
  width: 100%;
}
.App{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

body{
  width: 100%;
  text-align: center;
}

.set{
  position: absolute;
}

.set_div{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 180px;
  height: 260px;
}

.setDiv{
  margin: auto;
  width: 200px;
  height: 280px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
}

.set_div img{
  width: 180px;
}

.btn_div{
  width: 30%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  align-items: center;
}

.set_input{
  text-align: center;
  margin-top: -10%;
  
}
button{
  margin-top: 5%;
  padding: 5%;
  width: 100%;
}

.App-header{
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 40px;
}

.copy{
  color: gray;
  font-size: 10px;
  padding-top: 30%;
}