.btn{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
}

.btn p{
    padding: 1%;
    width: 72%;
    font-size: 25px;
}
.material-icons{
    width: 15%;
}

.material-icons:hover{
    cursor: pointer;
}